

.all-box{
justify-content: center;
}
.countries-box{
    width:260px;
    margin: 20px;
    /* height:250px; */
    justify-content: center;
    background:silver;
    border-radius:5px;
    text-align:left;
    padding:10px

}
.countrie-btn{
    width:100%;
    height:30px;
    border-radius:30px;
    background:black;
    font-size:15px;
    color:white;
    border: 1px solid black;
}
.countrie-btn:hover{
    background:silver;
    color:black;
    transition: .5s;
}